div.contentHolder {
  margin: 0 auto;
  width: 1170px;
  
  height: 100%;
  
  border-right: 180px solid rgba(0, 0, 0, 0.8);
  
  background-color: white;
}

div.contentLeft {
  width: 250px;
  height: 100%;
  float: left;
}

div.contentRight {
  max-width: 870px;
   
  padding-right: 20px;
  
  float:right;
  
  z-index: 2;
  
  margin-right: 30px;
  
  text-align: justify;
  font-size: 1.1em;
  
  overflow-y: scroll;
  height: 100%;
}

div.rightColor {
  width: 60px;
  height: 500px;
  float: right;
  z-index:1;
  
  position: relative;
  right: 0;
  
  background: rgba(0, 0, 0, 0.8);
}

img.coeLogo {
  float: right;
  margin: 0 auto;
}

h1.mainTitle {
  /* text-decoration: underline; */
  margin-bottom: 0px;
  color: #F37321;
  
  text-align:center;
}

h2.mainSubtitle {
  margin-top: 5px;
  
  text-align: center;
}

h3 {
  text-decoration: underline;
}

span.videoCaption {
  text-align: center;
  margin-left: 197px;
  font-size: .8em;
}