
div.contentHolder {
  margin: 0 auto;
  width: 1200px;
  
}

div.contentLeft {
  width: 250px;
  height: 100%;
  float: left;
}

div.contentRight {
  width: 950px;
  float:right;
  
  text-align: justify;
}

h1.mainTitle {
  /* text-decoration: underline; */
  margin-bottom: 0px;
}

h2.mainSubtitle {
  margin-top: 5px;
}

span.videoCaption {
  text-align: center;
  margin:0 auto;
  font-size: .8em;
}